/*Background Image*/
html {
    background-image: url("rift.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Question and Score*/
header {
    height: 80px;
}

ul {
    list-style-type: none;
    position: relative;
    padding: 15px;
}

#question {
    float: left;
    font-family: 'Cinzel', serif;
    font-size: 1em;
    font-weight: 800;
}

#score {
    float: right;
    font-family: 'Cinzel', serif;
    font-size: 1em;
    font-weight: 800;

}

/*Starting Page and Button*/
.start-page {
    border: 2px solid goldenrod;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    background-color: darkcyan;
    font-family: 'Cinzel', serif;
}

p {
    text-align: center;
    font-size: 16px;
}

.start-button, .submit-answer, .next-button, .restart-quiz {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 25px;
}

.start-button:hover, .submit-answer:hover, .next-button:hover, .restart-quiz:hover {
    background-color: lightskyblue;
    color: white;
    cursor: pointer;
}

main {
    text-align: center;
}

.questions-page {
    box-sizing: border-box;
    border: 2px solid goldenrod;
    width: 100%;
    display: none;
    padding: 10px;
    font-size: 16px;
    margin: auto;
    margin-bottom: 40px;
    background-color: darkcyan;
    font-family: 'Cinzel', serif;
}

@media only screen and (min-width: 600px) {
    .questions-page {
        box-sizing: border-box;
        display: none;
        border: 2px solid goldenrod;
        width: 50%;
        font-size: 1em;
        padding: 30px;
        background-color: darkcyan;
        margin: auto;
        margin-bottom: 40px;
        font-family: 'Cinzel', serif;
    }
}

/*Question Page and Answers*/

label {
    border: 1px solid goldenrod;
    display: block;
    margin-bottom: 25px;
}

label:hover {
    background-color: lightskyblue;
    color: white;
    cursor: pointer;
}

legend {
    margin-bottom: 20px;
}

fieldset {
    border: 0;
}

.indeed, .wrong {
    padding: 20px 0;
    max-width: 100%;
    height: auto;
}